<!DOCTYPE html>
<html lang="id">
<head>
  <%- include("../../setups/head") %>
</head>
<body>
  <%- include("../../components/navbar") %>
  
  <div class="container-fluid p-5 d-flex justify-content-center">
    <%- include("../../components/authenticationCard", { type: "login" }) %>
  </div>

  <%- include("../../setups/script") %>
</body>
</html>