<div class="card" style="min-width: 30%;">
  <h5 class="card-header display-6 fs-2 text-center px-4 py-3">
      <% if(type === "login") { %>
        Login ke Akunmu
      <% } else if(type === "register") { %>
        Daftar Akun Baru
      <% } %>
    </h5>
  <div class="card-body">
    <form>
      <% if(type === "register" ) { %>
        <div class="mb-3">
          <label for="name" class="form-label">Nama</label>
          <input type="text" class="form-control" id="name">
        </div>
      <% } %>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="mb-3">
        <% if(type === "login" ) { %>
          Belum punya akun? Daftar di <a href="/register">sini</a>
        <% } else if(type === "register" ) { %>
          Sudah punya akun? Login di <a href="/login">sini</a>
        <% } %>
      </div>
      <button type="submit" class="btn btn-primary w-100">
        <% if(type === "login" ) { %>
          Login
        <% } else if(type === "register" ) { %>
          Daftar
        <% } %>
      </button>
    </form>
  </div>
</div>