<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark p-2 p-sm-3">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-semibold" href="/">Bloggg</span></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto my-4 my-sm-0 text-end">
        <li class="nav-item ">
          <a class="nav-link text-light" aria-current="page" href="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/blog">Baca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/blog/create">Buat Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/category">Kategori</a>
        </li>
        <% if(user) { %>
          <li class="nav-item ms-0 mt-2 ms-sm-2 mt-sm-0">
            <div class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item text-end" href="#">Daftar Blog Saya</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form 
                    class="dropdown-item text-end"
                    style="cursor: pointer;"
                    action="/logout" method="post" 
                  >
                    <button type="submit" class="text-danger border-0 bg-transparent">
                      <%= user.name %>
                      <i class="bi bi-box-arrow-right ms-1"></i>
                    </button>
                  </form>
                </li>
              </ul>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item ms-0 mt-2 ms-sm-2 mt-sm-0">
            <a href="/login" type="button" class="btn btn-outline-light">Masuk</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>