<!DOCTYPE html>
<html lang="id">
<head>
  <%- include("../setups/head") %>
</head>
<body>
  <%- include("../components/navbar", { user }) %>

  <div class="container-fluid p-5 text-center" style="height: 70vh;">
    <h1 class="display-4">Welcome to Bloggg</h1>
    <p class="lead">Tempat terbaik untuk mencurahkan isi kepalamu dan membaca curahan isi kepala orang lain</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Baca Sekarang</a>
    </p>
  </div>

  <%- include("../setups/script") %>
</body>
</html>